.footer {
  background: var(--dark);
  height: var(--footer-height);
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--contrast-text);
}

.footer__paragraph__span,
.footer__link {
  color: var(--accent-1);
}

.footer__link {
  color: var(--accent-2);
}
@media (orientation: landscape) {
  div.heart {
    position: absolute;
    left: auto;
    right: 25px;
    bottom: 40px;
  }

  .heart {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: red;
    height: 25px;
    width: 25px;
    transform: rotate(-45deg);
  }

  .heart:after {
    background-color: red;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0px;
    left: 12px;
  }

  .heart:before {
    content: "";
    background-color: red;
    border-radius: 50%;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -12px;
    left: 0px;
  }
}
